.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-box {
  max-width: 856px;
  margin: 0 auto;
  padding: 12px;
}

.form-box {
  max-width: 416px;
  margin: 0 auto;
}

.banner {
  background-image: url("../images/section-1.1.png");
  background-position: left;
  background-repeat: no-repeat;
}

.card img {
  opacity: .85;
}

.btn-outline-primary:hover {
  color: $white;
}

.border-arc {
  border: 1px solid $primary;
  border-radius: 50px 50px 0 0;
  padding: 2rem 1rem 0.5rem 1rem;
}

.nav-link:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid $dark;
}

.wardrobe {
  width: 306px;
  height: 408px;
  position: relative;
  display: inline-block;
}

.wardrobe .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.wardrobe:hover .img-top {
  display: inline;
}

.info:hover {
  opacity: .5;
}