.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}

.banner {
  background-image: url("../../images/section-1.1.png");
  background-position: left;
  background-repeat: no-repeat;
}

.card img {
  opacity: .85;
}